<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-back-button color="energized"></ion-back-button>
	  </ion-buttons>
	  <ion-row>	
		<ion-col size="12">
		<h2>Expenses</h2>	
		</ion-col>	
		</ion-row>	
	</ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>
  
  
  
  <ion-row>	
  <ion-col size="12">
  <ion-searchbar></ion-searchbar>	
  </ion-col>	
  </ion-row>
  
  
  <ion-row class="members-block">
    <ion-col size="9">
      <h5>Name of Expenses</h5>
      <p>Lorem Ipsum is simply dummy text</p>
    </ion-col>	
    <ion-col size="3">
      <span style="color: red">You owe <br /> <strong>SGD 9241</strong></span>
    </ion-col>
  </ion-row>	
  
  <ion-row class="members-block">
    <ion-col size="9">
      <h5>Name of Expenses</h5>
      <p>Lorem Ipsum is simply dummy text</p>
    </ion-col>	
    <ion-col size="3">
      <span style="color: #129546">Owes you<br /> <strong>SGD 2300</strong></span>
    </ion-col>
  </ion-row>
  
  <ion-row class="members-block">
    <ion-col size="9">
      <h5>Name of Expenses</h5>
      <p>Lorem Ipsum is simply dummy text</p>
    </ion-col>	
    <ion-col size="3">
      <span style="padding-top: 10px;">Settled up</span>
    </ion-col>
  </ion-row>
  
  <ion-row class="members-block">
    <ion-col size="9">
      <h5>Name of Expenses</h5>
      <p>Lorem Ipsum is simply dummy text</p>
    </ion-col>	
    <ion-col size="3">
      <span style="padding-top: 10px;">Settled up</span>
    </ion-col>
  </ion-row>
  
  <ion-row class="members-block">
    <ion-col size="9">
      <h5>Name of Expenses</h5>
      <p>Lorem Ipsum is simply dummy text</p>
    </ion-col>	
    <ion-col size="3">
      <span style="color: #129546">Owes you<br /> <strong>SGD 2300</strong></span>
    </ion-col>
  </ion-row>
  
  <ion-row class="members-block">
    <ion-col size="9">
      <h5>Name of Expenses</h5>
      <p>Lorem Ipsum is simply dummy text</p>
    </ion-col>	
    <ion-col size="3">
      <span style="color: red">You owe <br /> <strong>SGD 9241</strong></span>
    </ion-col>
  </ion-row>	
  
  
  </ion-grid>	
  
  </ion-content>
  
