<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-back-button color="energized"></ion-back-button>
	  </ion-buttons>
	  <ion-row>	
		<ion-col size="12">
		<h2>Event Summery</h2>	
		</ion-col>	
		</ion-row>	
	</ion-toolbar>
  
</ion-header>

<ion-content>

<ion-grid>



<ion-row>	
<ion-col size="12">
<ion-searchbar></ion-searchbar>	
</ion-col>	
</ion-row>


<ion-row class="members-block">
	<ion-col size="9">
		<h5>Event name</h5>
		<p>Lorem Ipsum is simply dummy text</p>
	</ion-col>	
	<ion-col size="3">
		<span>2019/05/20  08.00am</span>
	</ion-col>
</ion-row>	

<ion-row class="members-block">
	<ion-col size="9">
		<h5>Event name</h5>
		<p>Lorem Ipsum is simply dummy text</p>
	</ion-col>	
	<ion-col size="3">
		<span>2019/05/20  08.00am</span>
	</ion-col>
</ion-row>

<ion-row class="members-block">
	<ion-col size="9">
		<h5>Event name</h5>
		<p>Lorem Ipsum is simply dummy text</p>
	</ion-col>	
	<ion-col size="3">
		<span>2019/05/20  08.00am</span>
	</ion-col>
</ion-row>

<ion-row class="members-block">
	<ion-col size="9">
		<h5>Event name</h5>
		<p>Lorem Ipsum is simply dummy text</p>
	</ion-col>	
	<ion-col size="3">
		<span>2019/05/20  08.00am</span>
	</ion-col>
</ion-row>

<ion-row class="members-block">
	<ion-col size="9">
		<h5>Event name</h5>
		<p>Lorem Ipsum is simply dummy text</p>
	</ion-col>	
	<ion-col size="3">
		<span>2019/05/20  08.00am</span>
	</ion-col>
</ion-row>

<ion-row class="members-block">
	<ion-col size="9">
		<h5>Event name</h5>
		<p>Lorem Ipsum is simply dummy text</p>
	</ion-col>	
	<ion-col size="3">
		<span>2019/05/20  08.00am</span>
	</ion-col>
</ion-row>

<ion-row class="members-block">
	<ion-col size="9">
		<h5>Event name</h5>
		<p>Lorem Ipsum is simply dummy text</p>
	</ion-col>	
	<ion-col size="3">
		<span>2019/05/20  08.00am</span>
	</ion-col>
</ion-row>

<ion-row class="members-block">
	<ion-col size="9">
		<h5>Event name</h5>
		<p>Lorem Ipsum is simply dummy text</p>
	</ion-col>	
	<ion-col size="3">
		<span>2019/05/20  08.00am</span>
	</ion-col>
</ion-row>

</ion-grid>

<div class="add-btn">
<img src="assets/images/add.png" width="80%" alt="placeholder+image">	
</div>

</ion-content>
