<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-back-button color="energized"></ion-back-button>
	  </ion-buttons>
	  <ion-row>	
		<ion-col size="12">
		<h2>Payback Facility</h2>	
		</ion-col>	
		</ion-row>	
	</ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>
  
  
  
  <ion-row>
  <ion-col></ion-col>
  <ion-col size="10" class="login-block">
      Event name
      <select>
      <option>Event 1</option>	
      <option>Event 2</option>
      <option>Event 3</option>
      </select>	
  </ion-col>
  <ion-col></ion-col>	
  </ion-row>
  
  <ion-row>
  <ion-col></ion-col>
  <ion-col size="10" class="login-block">
      Amount (SGD)
      <input type="text" name="">	
  </ion-col>
  <ion-col></ion-col>	
  </ion-row>
  
  <ion-row>
  <ion-col></ion-col>
  <ion-col size="10" class="login-block">
      <button ion-button full color="#fd6700">Pay</button>	
  </ion-col>
  <ion-col></ion-col>
  </ion-row>
  
  </ion-grid>	
  
  </ion-content>
  